In [4]:
import numpy as np
import pandas as pd

In [5]:
results = pd.read_csv("results_mnist.csv", index_col=0)
results.head()

,epoch,loss,num_parameters,dim,rank,accuracy,val_loss,val_accuracy
0,1,1.983530,4200,10,5,NaN,NaN,NaN
1,1,NaN,4200,10,5,0.198767,NaN,NaN
2,1,NaN,4200,10,5,NaN,1.756253,NaN
3,1,NaN,4200,10,5,NaN,NaN,0.2271
4,2,1.688697,4200,10,5,NaN,NaN,NaN

In [6]:
avg_accs = pd.pivot_table(
    results,
    aggfunc=np.max,
    values="val_accuracy",
    index="dim",
    columns="rank"
)
avg_accs.style.format(precision=2).background_gradient(axis=None)

In [7]:
num_param = pd.pivot_table(
    results,
    values="num_parameters",
    index="dim",
    columns="rank"
)
num_param /= 1000
num_param.style.format(precision=0).background_gradient(axis=None)

In [8]:
acc_per_param = avg_accs / num_param
acc_per_param.style.format(precision=4).background_gradient(axis=None)